In [3]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [4]:
df = pd.read_csv('data/aac_shelter_outcomes.csv', 
    parse_dates=['date_of_birth', 'datetime','monthyear'])

In [8]:
df[['age_upon_outcome','date_of_birth', 'datetime','monthyear']].head(30)

   age_upon_outcome date_of_birth            datetime           monthyear
0           2 weeks    2014-07-07 2014-07-22 16:04:00 2014-07-22 16:04:00
1            1 year    2012-11-06 2013-11-07 11:47:00 2013-11-07 11:47:00
2            1 year    2013-03-31 2014-06-03 14:20:00 2014-06-03 14:20:00
3           9 years    2005-06-02 2014-06-15 15:50:00 2014-06-15 15:50:00
4          5 months    2014-01-07 2014-07-07 14:04:00 2014-07-07 14:04:00
5          4 months    2013-06-03 2013-10-07 13:06:00 2013-10-07 13:06:00
6            1 year    2013-12-13 2014-12-13 12:20:00 2014-12-13 12:20:00
7           3 years    2011-11-23 2014-12-08 15:55:00 2014-12-08 15:55:00
8           1 month    2014-06-16 2014-08-14 18:45:00 2014-08-14 18:45:00
9          3 months    2014-03-26 2014-06-29 17:45:00 2014-06-29 17:45:00
10           1 year    2013-03-27 2014-03-28 14:55:00 2014-03-28 14:55:00
11          2 years    2012-02-28 2014-03-28 14:39:00 2014-03-28 14:39:00
12         2 months    2014-03-07 2014-05-26 19:10:00 2014-05-26 19:10:00
13          4 years    2009-04-27 2014-04-25 11:17:00 2014-04-25 11:17:00
14          8 years    2006-10-18 2014-10-26 18:20:00 2014-10-26 18:20:00
15          2 years    2012-06-02 2014-06-15 15:11:00 2014-06-15 15:11:00
16           1 year    2013-03-11 2014-04-16 12:51:00 2014-04-16 12:51:00
17          3 weeks    2013-12-16 2014-01-09 19:29:00 2014-01-09 19:29:00
18         2 months    2014-10-19 2014-12-21 18:20:00 2014-12-21 18:20:00
19         2 months    2014-06-02 2014-08-13 15:04:00 2014-08-13 15:04:00
20         8 months    2013-07-05 2014-03-06 14:29:00 2014-03-06 14:29:00
21         5 months    2014-03-22 2014-08-31 15:45:00 2014-08-31 15:45:00
22          2 years    2012-05-05 2014-12-11 17:52:00 2014-12-11 17:52:00
23         2 months    2014-08-03 2014-10-31 18:29:00 2014-10-31 18:29:00
24           1 year    2012-12-04 2013-12-16 13:59:00 2013-12-16 13:59:00
25           1 year    2013-10-11 2014-10-19 17:54:00 2014-10-19 17:54:00
26         4 months    2013-08-23 2013-12-25 09:47:00 2013-12-25 09:47:00
27         2 months    2013-09-01 2013-11-19 18:30:00 2013-11-19 18:30:00
28         4 months    2014-06-17 2014-11-04 18:03:00 2014-11-04 18:03:00
29         2 months    2014-04-27 2014-07-03 12:12:00 2014-07-03 12:12:00

In [20]:
df.groupby('outcome_type')['outcome_type'].agg('count')

outcome_type
Adoption           33112
Died                 680
Disposal             307
Euthanasia          6080
Missing               46
Relocate              16
Return to Owner    14354
Rto-Adopt            150
Transfer           23499
Name: outcome_type, dtype: int64

In [13]:
#df.head(5)
#df.info()
df.columns

Index(['age_upon_outcome', 'animal_id', 'animal_type', 'breed', 'color',
       'date_of_birth', 'datetime', 'monthyear', 'name', 'outcome_subtype',
       'outcome_type', 'sex_upon_outcome'],
      dtype='object')

In [17]:
df.describe().transpose()

                  count unique                     top   freq
age_upon_outcome  78248     46                  1 year  14355
animal_id         78256  70855                 A706536     11
animal_type       78256      5                     Dog  44242
breed             78256   2128  Domestic Shorthair Mix  23335
color             78256    525             Black/White   8153
date_of_birth     78256   5869     2014-05-05T00:00:00    112
datetime          78256  64361     2016-04-18T00:00:00     39
monthyear         78256  64361     2016-04-18T00:00:00     39
name              54370  14574                   Bella    344
outcome_subtype   35963     19                 Partner  19660
outcome_type      78244      9                Adoption  33112
sex_upon_outcome  78254      5           Neutered Male  27784

In [16]:
df.isnull().sum()

age_upon_outcome        8
animal_id               0
animal_type             0
breed                   0
color                   0
date_of_birth           0
datetime                0
monthyear               0
name                23886
outcome_subtype     42293
outcome_type           12
sex_upon_outcome        2
dtype: int64

In [8]:
sns.pairplot(df)

IndexError: index -1 is out of bounds for axis 0 with size 0

In [15]:
correlation_matrix = df.corr().round(2)
print (correlation_matrix)
# annot = True to print the values inside the square
#fig, ax = plt.subplots(figsize=(12,10)) 
#sns.heatmap(data=correlation_matrix, annot=True)

Empty DataFrame
Columns: []
Index: []

In [22]:
df.to_records(index=False)[0]

('2 weeks', 'A684346', 'Cat', 'Domestic Shorthair Mix', 'Orange Tabby', '2014-07-07T00:00:00.000000000', '2014-07-22T16:04:00.000000000', '2014-07-22T16:04:00.000000000', nan, 'Partner', 'Transfer', 'Intact Male')

In [23]:
import psycopg2
from psycopg2 import sql

In [37]:
with psycopg2.connect(host="localhost", dbname="prod2", user="postgres", password="postgres") as conn:
    with conn.cursor() as cursor:
        conn.autocommit = True
        str_del = sql.SQL("DELETE FROM {table}").format(table=sql.Identifier('to_del_10'))
        print('delete=> {}'.format(str_del.as_string(conn)))
        cursor.execute(str_del)
        values = [
            ('ALA', 'Almaty', 'Kazakhstan'),
            ('TSE', 'Astana', 'Kazakhstan'),
            ('PDX', 'Portland', 'USA'),        ]
        #columns = ['age_upon_outcome','animal_id','animal_type','breed','color','date_of_birth','datetime','monthyear','name','outcome_subtype','outcome_type','sex_upon_outcome']
        columns = ['age_upon_outcome','animal_id','animal_type','date_of_birth']
        insert = sql.SQL("INSERT INTO {table} ({fields}) VALUES ({values})").format(
                         fields=sql.SQL(', ').join(map(sql.Identifier, columns)),
                         table=sql.Identifier('to_del_10'),
                         values=sql.SQL(', ').join(sql.Placeholder() * len(columns)))


        #print(insert)
        print('insert=> {}'.format(insert.as_string(conn)))

        #cursor.execute(insert,df.to_records(index=False,column_dtypes={"date_of_birth": "str"})[0])
        cursor.executemany(insert,df[['age_upon_outcome','animal_id','animal_type','date_of_birth']].to_records(index=False,column_dtypes={"date_of_birth": "date"})[0])

delete=> DELETE FROM "to_del_10"
insert=> INSERT INTO "to_del_10" ("age_upon_outcome", "animal_id", "animal_type", "date_of_birth") VALUES (%s, %s, %s, %s)

TypeError: data type "date" not understood

In [33]:
with psycopg2.connect(host="localhost", dbname="prod2", user="postgres", password="postgres") as conn:
    with conn.cursor() as cur:
        try:
            cur.execute("select * from to_del_10 limit 5")
        
        except psycopg2.Error as e:
            print (e.pgerror)
        print('1')
        for row in cur:
            print(row)

1
('2 weeks', 'A684346', 'Cat', None, None, None, None, None, None, None, None, None)
('1 year', 'A666430', 'Dog', None, None, None, None, None, None, None, None, None)
('1 year', 'A675708', 'Dog', None, None, None, None, None, None, None, None, None)
('9 years', 'A680386', 'Dog', None, None, None, None, None, None, None, None, None)
('5 months', 'A683115', 'Other', None, None, None, None, None, None, None, None, None)