In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/aac_shelter_outcomes.csv')

In [9]:
df.describe().transpose()

                  count unique                     top   freq
age_upon_outcome  78248     46                  1 year  14355
animal_id         78256  70855                 A718223     11
animal_type       78256      5                     Dog  44242
breed             78256   2128  Domestic Shorthair Mix  23335
color             78256    525             Black/White   8153
date_of_birth     78256   5869     2014-05-05T00:00:00    112
datetime          78256  64361     2016-04-18T00:00:00     39
monthyear         78256  64361     2016-04-18T00:00:00     39
name              54370  14574                   Bella    344
outcome_subtype   35963     19                 Partner  19660
outcome_type      78244      9                Adoption  33112
sex_upon_outcome  78254      5           Neutered Male  27784