In [15]:
import re
import numpy as np
import pandas as pd

### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [5]:
ratings = pd.read_csv('ml-25m/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [6]:
ratings['class'] = ratings['rating'].apply(lambda rt: rt*2)

In [7]:
print(ratings.head())

   userId  movieId  rating   timestamp  class
0       1      296     5.0  1147880044   10.0
1       1      306     3.5  1147868817    7.0
2       1      307     5.0  1147868828   10.0
3       1      665     5.0  1147878820   10.0
4       1      899     3.5  1147868510    7.0

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
```
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
            }
```
Результат классификации запишите в отдельный столбец region.

### Задание 3
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1) В переменную years запишите список из всех годов с 1950 по 2010.

2) Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

* для каждой строки пройдите по всем годам списка years
* если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
* если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3) Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4) Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [8]:
ratings3 = pd.read_csv('ml-25m/ratings.csv')
ratings3.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [9]:
movies = pd.read_csv('ml-25m/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
years = list(map(str,range(1950,2011,1)))
print(years)

['1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010']

In [11]:
# алгритм не учел, когда в названии фильма год всречатся два раза. 
# так как год, всегда идет в конце названия в скобках, то из полученного списка, биру последнее значение
def production_year(param):
    yr = list(item for item in years if item in param)[-1:]
    return '1990' if not yr else ''.join(yr)

print(production_year('2015'))
print(production_year('2010'))

1990
2010

In [12]:
movies['years']=movies['title'].apply(production_year)
print(movies['years'].unique())

['1995' '1994' '1996' '1976' '1992' '1988' '1967' '1993' '1964' '1977'
 '1965' '1982' '1990' '1991' '1989' '1969' '1981' '1973' '1970' '1960'
 '1955' '1959' '1968' '1980' '1975' '1986' '1950' '1987' '1997' '1974'
 '1956' '1958' '1972' '1998' '1952' '1951' '1957' '1961' '1954' '1963'
 '1953' '2001' '1985' '1979' '1971' '1978' '1966' '1962' '1983' '1984'
 '1999' '2000' '2010' '2002' '2003' '2004' '2005' '2006' '2009' '2007'
 '2008']

In [13]:
rtg = ratings3.merge(movies[['movieId','years']], how='inner', on='movieId' )[['years','rating']]
print(rtg.head())

  years  rating
0  1994     5.0
1  1994     5.0
2  1994     4.0
3  1994     4.0
4  1994     4.0

In [23]:
rtg2 = rtg.groupby('years').agg({'rating':np.mean}).sort_values(by='rating', ascending=False)
print(rtg2.head(15))

         rating
years
1957   3.999492
1954   3.985693
1972   3.956477
1962   3.929445
1974   3.899434
1952   3.895315
1975   3.880360
1964   3.879177
1951   3.876258
1950   3.847763
1966   3.835132
1977   3.829895
1960   3.819289
1959   3.819035
1967   3.815505