### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd
import re

In [2]:
movies = pd.read_csv('ml-25m/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv('ml-25m/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [4]:
df = ratings[ratings['rating']==5][['movieId']]
df1 = df.groupby('movieId')['movieId'].agg(cnt='count').sort_values(by='cnt', ascending=False)
print(df1.head())

           cnt
movieId
318      39553
296      32169
356      25918
260      25804
2571     25482

In [5]:
df3 = df1.merge(movies[['movieId','title']], how='left', on='movieId')[['movieId','title','cnt']]

In [6]:
print(df3.head())
# .head(1) дает первую строку в максимальным значением количеств 5.0

   movieId                                      title    cnt
0      318           Shawshank Redemption, The (1994)  39553
1      296                        Pulp Fiction (1994)  32169
2      356                        Forrest Gump (1994)  25918
3      260  Star Wars: Episode IV - A New Hope (1977)  25804
4     2571                         Matrix, The (1999)  25482

### Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [8]:
power = pd.read_csv('ml-25m/power.csv')
print(power.head())

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [17]:
print(
    power[
        (power['country'].str.contains('Latvia|Lithuania|Estonia', regex=True, flags=re.IGNORECASE)) &
        ((power['year']>=2005)&(power['year']<=2010))&
        ((power['category']==4)|(power['category']==12)|(power['category']==21))&
        (power['quantity']>=0)
        ][['quantity']].agg('sum'))

quantity    240580.0
dtype: float64

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [22]:
df4=pd.read_html('https://fortrader.org/quotes')[2]

In [23]:
print(type(df4))
print(df4)

<class 'pandas.core.frame.DataFrame'>
                          Type      Last   Chg.  Chg.%  Time
0      Серебро Цена на серебро    18.019  0.001  0.006   NaN
1    Палладий Цена на Палладий  2210.800  0.000  0.000   NaN
2  Золото Цена золота на бирже  1586.210  0.000  0.000   NaN
3      Платина Цены на платину   959.200  0.000  0.000   NaN
4      Медь Цена меди на бирже     2.515  0.000  0.000   NaN